/* место для вашего кода */

page {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

/* Стили header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 95px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  padding-left: 2px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style: none;
}

.header__link {
  line-height: 21.13px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__link:hover {
  text-decoration: none;
  cursor: pointer;
}

.header__link_active {
  text-decoration: none;
}

.header__link_active:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

/* Стили блока main */
/* Стили секции cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 106px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115px;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.6px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 11px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  color: #000;
  background-color: #fff;
}

/* Стили секции lots */

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 24px 0;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.lots__look-more-link:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Стили секции about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 155px 24px 180px;
}

.about__column {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  justify-self: center;
  gap: 24px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  align-self: center;
  padding: 102px 0 75px 25px;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__text {
  padding-left: 25px;
  font-size: 20px;
  line-height: 24px;
}

/* Стили футера */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
}

.footer__link {
  line-height: 24.3px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  cursor: pointer;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  font-size: 18px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  line-height: 21.13px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  cursor: pointer;
}

.footer__menu-link:hover {
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link_active:hover {
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
